<div id="map">
	<div *ngFor="let row of map; let i=index ">
		<div *ngFor="let column of row; let j=index ">
			<div class="tile tile-{{column.terrain}}" (click)="tileClicked(i, j)">
				<img src="/assets/map-images/{{column.city}}.png" alt="" *ngIf="column.city" />
				<img src="/assets/map-images/road-{{column.road}}.png" alt="" *ngIf="column.road" />
			</div>
		</div>
		<div class="cleaner"></div>
	</div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="road-selector-dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add a road</h4>
            </div>
            <div class="modal-body">
                <div class="road-picker-radio" *ngFor="let road of roads" (click)="applyRoad(road)">
                    <img src="/assets/map-images/road-{{road}}.png" />
                </div>
                <div class="cleaner"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="applyRoad(0)">Remove road</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>